.submit {
  width: 100px;
  height: 30px;
  background: rgba(171, 172, 241, 0.959);
  border: 0;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: #130a3b88;
    color: #ffffff;
  }
}

.type {
  height: 30px;
  border: 0;
  padding: 5px 10px;
}
p {
  font-size: 18px;
}
